
{% include 'base.html' %}
<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" href="{% url 'contact' %}">Contact Us</li>
        </ul>
    </div>
</div>
<!-- Breadcrumb End -->
<div class="title">
    <h2>Publish News</h2>
</div>


<!-- Contact Start -->
<div class="contact">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-4">
                <div class="form">
                    <form action="" method="">
                        <label>
                          <span class="fname">Title <span class="required">*</span></span>
                          <input type="text" name="fname">
                        </label>
                       
                        
                        <label>
                          <span>News Detail<span class="required">*</span></span>
                          <textarea name="comment">Enter text here...</textarea>
                        </label><br>
                        <label>
                          <span>Current Date/Time<span class="required">*</span></span>
                        <input type="datetime-local" value="2017-06-13T13:00" class="date">
                        </label><br>
                    
                    
                    
                     <button type="button" style="width:100px">Submit </button>
                      </form>
                 </div>
            </div>
            <div class="col-md-4">
                <label>
                    <span>Image Upload <span class="required">*</span></span>
                         <input type="file" id="myFile" name="filename">
                       </label>
            </div>
            <div class="col-md-4">
                <div class="contact-info">
                    <label>
                        <span>Select Category</span>
                        <select name="selection">
                          <option value="select">Select Category List</option>
                         <option value="ALB">Technical</option>
                          <option value="DZA">Fashion</option>
                          <option value="ASM">Food</option>
                        </select>
                      </label>
                    
                </div>
                </div>
            </div>
        </div>
    </div>
</div>


    
<!-- Contact End -->
{% include 'footer.html' %}

