{% include 'base.html' %}
<div class="cat-news">
    <div class="container">
        <div class="row my-2">
            
            <h2><i class="fas fa-align-justify"></i>Sports</h2>
            <div class="row">
                
                {% for i in page %}
                {% if i.category == "Sports" %}
                <div class="col-md-4 mt-5">
                    <div class="cn-img">
                        <img src="/media/{{i.image}}" class="card-img" alt="...">
                        <div class="cn-content">
                            <div class="cn-content-inner">
                                <a class="cn-date" href=""><i class="far fa-clock"></i>{{i.time}}</a>
                                <a class="cn-title" href="">{{i.title}}</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            
        </div>
    </div>
<div>

                
{% include 'footer.html' %}