
{% include 'base.html' %}
<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" href="{% url 'contact' %}">Contact Us</li>
        </ul>
    </div>
</div>
<!-- Breadcrumb End -->
<div class="title">
    <h1>Publish News</h1>
</div>

<form action="{% url 'upload' %}" method="POST">
  {% csrf_token %}
<!-- Contact Start -->
<div class="contact">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-4">
                <div class="form">
                  
                      
                        <label>
                          <span class="fname">Title <span class="required">*</span></span>
                          <input type="text" name="title">
                        </label>
                       
                        
                        <label>
                          <span>News Detail<span class="required">*</span></span>
                          <textarea name="details">Enter text here...</textarea>
                        </label><br>
                        {% comment %} <label>
                          <span>Current Date/Time<span class="required">*</span></span>
                        <input type="datetime-local" value="2017-06-13T13:00" class="date">
                        </label><br> {% endcomment %}
                    
                    
                    
                      </form>
                 </div>
            </div>
            <div class="col-md-4">
                <form>
                <label>
                    <span>Image Upload <span class="required">*</span></span>
                         <input type="file" id="myFile" name="images">
                       </label>
                    
            </div>
            <div class="col-md-4">
              <div class="contact-info">
                <label for="category">Category:</label>
                    
                    <select name="category" class="custom-select col-12 col-sm-8">
                      {% for choice in martial_status %}
                      <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                  {% endfor %}
                    </select>
                </label>
            </div>
            
                <button type="submit" name="submit1" style="width:100px">Submit </button>

                </div>
            </div>
        </div>
                    
    </div>
  </form>
</div>


    
<!-- Contact End -->
{% include 'footer.html' %}

<style>
@media (min-width: 1200px)
{
  .container{
    max-width: 1140px;
  }
}
.d-flex{
  display: flex;
  flex-direction: row;
  background: #f6f6f6;
  border-radius: 0 0 5px 5px;
  padding: 25px;
}
form{
  flex: 4;
}
.Yorder{
  flex: 3;
}
.title{
  border-radius:5px 5px 0 0;
  padding: 20px;
  color: #f6f6f6;
}
h2{
  margin: 0;
  padding-left: 15px; 
}
.required{
  color: red;
}
label, table{
  display: block;
  margin: 15px;
}
label>span{
  float: left;
  width: 25%;
  margin-top: 12px;
  padding-right: 10px;
}
input[type="text"], input[type="tel"], input[type="email"], select
{
  width: 70%;
  height: 30px;
  padding: 5px 10px;
  margin-bottom: 10px;
  border: 1px solid #dadada;
  color: #888;
}
select{
  width: 72%;
  height: 45px;
  padding: 5px 10px;
  margin-bottom: 10px;
}
.Yorder{
  margin-top: 15px;
  height: 600px;
  padding: 20px;
  border: 1px solid #dadada;
}
table{
  margin: 0;
  padding: 0;
}
th{
  border-bottom: 1px solid #dadada;
  padding: 10px 0;
}
tr>td:nth-child(1){
  text-align: left;
  color: #2d2d2a;
}
tr>td:nth-child(2){
  text-align: right;
  color: #52ad9c;
}
td{
  border-bottom: 1px solid #dadada;
  padding: 25px 25px 25px 0;
}

p{
  display: block;
  color: #888;
  margin: 0;
  padding-left: 25px;
}
.Yorder>div{
  padding: 15px 0; 
}

button{
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 30px;
  background: #52ad9c;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
}
button:hover{
  cursor: pointer;
  background: #428a7d;
}
textarea {
  width: 70%;
  height: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}
.date{
font-family: 'PT Sans', sans-serif;
  font-size: 0.8rem;
  display: block;
  padding: 0.5rem 1rem;
}

</style>